extends baseEmail

block content
    h2 Hi #{firstName}, Forgot Your Password?
    p Don't worry; it happens to the best of us. To reset your password, click the button below:
    h2 
        b token: #{token}
    table.btn.btn-primary(role="presentation", border="0", cellpadding="0", cellspacing="0")
        tbody
            tr
                td(align="left")
                    table(role="presentation", border="0", cellpadding="0", cellspacing="0")
                        tbody
                            tr
                                td
                                    a(href=url, target="_blank") Reset Password
    p If you didn't request this, please ignore this email. Your password will remain unchanged.
    p Good luck!