extends baseEmail

block content
    h2 Hello #{firstName},
    h4 You are most welcome to BRAC Allumni Association.
    //- table.btn.btn-primary(role="presentation", border="0", cellpadding="0", cellspacing="0")
    //-     tbody
    //-         tr
    //-             td(align="left")
    //-                 table(role="presentation", border="0", cellpadding="0", cellspacing="0")
    //-                     tbody
    //-                         tr
    //-                             td
    //-                                 a(href="http://htmlemail.io", target="_blank") Call To Action
    p Welcome to our community! We're glad you're here and can't wait for you to be a part of all the great things we have in store. Let's connect and make the most of this journey together!
    p Good luck! Best wishes for you.