extends baseEmail

block content
    h2 Hi #{firstName},
    p You are receiving this email because we received a password reset request for your account.
    table.btn.btn-primary(role="presentation", border="0", cellpadding="0", cellspacing="0")
        tbody
            tr
                td(align="left")
                    table(role="presentation", border="0", cellpadding="0", cellspacing="0")
                        tbody
                            tr
                                td
                                    a(href=url, target="_blank") Reset Password
    p This is a really simple email template. Its sole purpose is to get the recipient to click the button with no distractions.
    p Good luck! Hope it works.